*, *::before ,*::after {

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container{
  max-width: 998px;
  padding: 0 20px;
}
.row{
  padding: 0;
  margin: 0;
}
.row *{
  margin: 0;
  padding: 0;
}
.col-6{

}
.header{
  height: 73px;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);

  &__btn{
    padding: 16px 10px 25px;
    display: flex;
    justify-content: space-between;


    button {
      font-weight: 500;
      font-size: 13px;
      line-height: 24px;
      padding: 8px 15px;
      border: #E0E0E0 1px solid;
      background: none;
      margin-right: -3px;
      &:hover {
        background: #000;
        color: white;
      }
    }
}
}
.main{
  padding: 93px 0;
  &__link{
    text-decoration: none;
  }
  &__card{
    padding: 16px;
    border: #75757533 1px solid;
    border-radius: 2px;
    margin-bottom: 48px;
    &:hover{
      background: #F6F6F6;
    }


    &-title{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #1D1D1D;
      margin-bottom: 4px;
    }
    &-subtitle{
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #626262;
      margin-bottom: 57px;
    }
    &-time{
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #1D1D1D;
    }
  }
}
.footer{
  background: #000;
  padding: 66px 0 52px;

  &__logo{
    padding-bottom: 33px;
    border-bottom: white 1px solid;
    img{
      margin-left: -5px;
    }

  }
  &__text{
    padding-top: 40px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
  }
}
.hero{
  background: url("/src/assets/photo_2022-07-14_11-36-02.jpg") center/cover ;
  padding: 80px 0;

  &__content-box{
    background: white;
    padding: 38px 33px;
    max-width: 390px;
  }
  &__title{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    color: #1D1D1D;
    margin-bottom: 54px;
    margin-left: 6px;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #626262;
    margin-left: 5px;
  }
  &__time{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    background: #262626;
    border-radius: 16px;
    padding: 8px 16px;
    justify-content: flex-end;
  }


}
.main__nav{
  padding: 32px 0 29px;
  border-bottom: #75757533 1px solid;
}
.nav__link{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  margin-right: 41px;
  &:hover{
    color: #327430;

  }
}

.products{
  padding: 56px 0 28px;

  &__title{
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    margin-bottom: 32px;
  }
  &__card{
    display: flex;
    max-height: 160px;
    max-width: 470px;
    justify-content: space-between;
    border: 1px solid #75757533;
    margin-bottom: 49px;
    margin-right: 5px;
    cursor: pointer;
    &:hover &__subtitle{
      opacity: 1;
    }

    &__text-content{
      padding: 16px;

    }
    &__title{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #1D1D1D;
      margin-bottom: 4px;

    }
    &__subtitle{
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      color: #626262;
      margin-bottom: 57px;
      opacity: 0;
    
    }
  }
}